@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Fira+Sans:ital,wght@1,600&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(208, 147, 67);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 78px;
}

.title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 33px;
    padding: 0;
    color: black;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 0;
    font-weight: 900;
    
}

.menu:hover a{
    opacity: 30%;
}

.menu a:hover{
    opacity: 100%;
}


.gymperson{
    height: px;
}

.menu{
    padding: 25px;   
    padding-right: 30px;
}

.menu a{
    font-family: 'Roboto', sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 13px;
    font-size: 20px;
    align-items: center;
    font-weight: 700;
}

.first{
    background-color: rgb(237, 213, 197);
    display: flex;
    padding-top: 45px;
    height: 650px;
}

.first .section1{
    padding: 0px 200px;
}

.first .section2{
    padding: 20px 170px;
    align-items: center;
}

.section1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 h1{
    text-align: center;
    font-size: 32px;
}

.section1 p{
    text-align: center;
    font-size: 22px;
    width: 372px;
    
}

.section1 .gymlogo{
    /* align-items: center;
    display: flex;
    justify-content: center; */
        display: block;
        margin: 0 auto;
        height: 190px;
        padding-top: 30px;
    
}

.section2{
    width: 50%;
    justify-content: center;
}

.section2 .gymperson{
    display: block;
    margin: 0 auto;
    height: 530px;
    padding-top: 41px;
}

.second{
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 345px;
}

.second .section3{
    background-color: rgb(237, 213, 197);
    text-align: center;
    border: 2px brown solid;
    border-radius: 5px;
    height: 510px;
}

.section3 h1{
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
    margin: 0px;
}

.section3 p{
    text-align: center;
    font-size: large;
    padding: 0 180px;
}

.boxes{
    display: flex;
}

.box{
    background-color: rgb(240, 190, 125);
    padding: 10px 10px;
    margin: 20px;
    width: 33%;
    border: 2px black solid;
    border-radius: 5px;
    min-height: 227px;
}

.box:hover{
    width: 40%;
    height: 250px;
    background-color: rgb(224, 172, 104);
}

.box ul li{
    list-style: none;
}

.box *{
    padding: 2px;
    margin: 5px;
    text-align: center;
}

.box h2{
    font-size: 1.7rem;
    padding-top: 8px;
    padding-bottom: 6px;
}

.box .btn{
    background-color: rgb(231, 165, 79);
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

.box .btn:hover{
    cursor: pointer;
    border: 3px black solid;
}

.highlight{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
}

.third{
    background-color: rgb(237, 213, 197);
    display: flex;
    justify-content: center;
    height: 370px;
    align-items: center;
}

.section4 h1{
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 37px;
}

.table{
    width: 583px;
    text-align: center;
    border-collapse: collapse;
    height: 200px;
}

.table td,th{
    border-bottom: 2px black solid;
    font-size: 20px;
    padding: 10px;
    
}

.foot{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.foot a{
    padding: 25px;
    padding-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}


