*{
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: beige;
    padding: 12px 20px;
    border: 2px solid brown;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: rgb(75, 232, 83);
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: black;
    color: white;
}

textarea{
    margin: 10px;
}